@charset "UTF-8";

@font-face {
    font-family: 'oswald';
    src:url('recap_fontes/oswald_bold.otf') format('opentype'), url('recap_fontes/oswald_bold.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Meroitic&family=Passion+One:wght@400;700;900&display=swap');

:root {
    --fonte_padrao: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(240, 128, 128, 0.3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body h1 {
    color: limegreen;
}

body h2 {
    color: crimson;
}

video#whitefox {
    width: 560px;
}

div.grad {
    margin-top: 10px;
    height: 50px;
    width: 100%;
}

div.grad1, div.grad2, div.grad3, div.grad4 {
    display: inline-block;
    margin: -3px;
    height: 50px;
    width: 25%;
}

div.grad1 {
    background-image: linear-gradient(to right, darkgreen, aqua, blueviolet 90%);
}

div.grad2 {
    background-image: linear-gradient(to top, chocolate, chartreuse 80%);
}

div.grad3 {
    background-image: linear-gradient(to bottom, dodgerblue, coral 80%);
}

div.grad4 {
    background-image: linear-gradient(to left, orange, cadetblue, deeppink 90%);
}

.espaco {
    margin-top: 10px;
}

p.fontimport {
    font-family: 'Noto Sans Meroitic', sans-serif;
}

p.fontbaix {
    font-family: 'oswald';
}