@charset "UTF-8";

@font-face {
    font-family: 'bebasneue';
    src: url('../recap_fontes/BebasNeue-Regular.otf') format('opentype'), url('../recap_fontes/BebasNeue-Regular.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

:root {
    --fonte_padrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonte_bebasneue: 'bebasneue', sans-serif;
    --fonte_caveat: 'Caveat', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(240, 128, 128, 0.3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body h1 {
    color: limegreen;
}

body h2 {
    color: crimson;
}

video#whitefox {
    width: 560px;
}

div.grad {
    margin-top: 10px;
    height: 50px;
    width: 100%;
}

div.grad1, div.grad2, div.grad3, div.grad4 {
    display: inline-block;
    margin: -3px;
    height: 50px;
    width: 25%;
}

div.grad1 {
    background-image: linear-gradient(to right, darkgreen, aqua, blueviolet 90%);
}

div.grad2 {
    background-image: linear-gradient(to top, chocolate, chartreuse 80%);
}

div.grad3 {
    background-image: linear-gradient(to bottom, dodgerblue, coral 80%);
}

div.grad4 {
    background-image: linear-gradient(to left, orange, cadetblue, deeppink 90%);
}

.espaco {
    margin-top: 10px;
}

p.fontimport {
    font-family: var(--fonte_caveat);
    font-size: 2em;
}

p.fontbaix {
    font-family: var(--fonte_bebasneue);
    font-size: 2em;
}

div#caixas {
    margin-top: 10px;
}

div.caix {
    margin: -3px;
    display: inline-block;
    width: 50%;
    background-color: aquamarine;
}

h1#borda {
    border: 20px solid #000;
    padding: 10px;
    border-image-source: url('../recap_imagens/borda.png');
    border-image-slice: 32;
    border-image-repeat: repeat;
}